<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.connection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\LPOO\Desktop\lpoo 2023\tp4\lpooII-grupo-4-original\lpooII-grupo-4-original\playadb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>